@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300...800&display=swap");

:root {
  /* 
  
  Farge-palett med farge navn, husk at vi ikke bruker disse fargene direkte i CSS-en v친r, da blir det vanskelig 친 lage egne tema som f.eks. dark mode
  
  Bodil
  
  */

  --mulberry: #b74268;
  --mulberry-dark: #702940;
  --fair-pink: #fff0ee;
  --amethyst: #b564cc;
  --deep-blush: #e05cad;
  --white: #ffffff;
  --mine-shaft: #333333;

  /* 
    Kan v칝re noen som synes det ble litt mye rosa 游뱂 
    Jeg laget denne alternative farge-paletten som vi ogs친 kan teste ut.

    Bodil
   */

  --cello: #224960;
  --cello-dark: #152d3c;
  --ottoman: #ecf9ec;
  --pirate-gold: #a87000;
  --venice: #045e8d;

  /* 
    Her er variable-navnene som er brukt i css-en, 
    pr칮v 친 bytte ut verdiene med den alternative fargepaletten og se om det ser bedre ut.

    Bytt ut alle referansene under med f칮lgende:

    mulberry med cello
    mulberry-dark med cello-dark
    fair-pink med ottoman    
    amethyst med pirate-gold
    deep-blush med venice

    N친r det gjelder bakgrunns-bildet, s친 m친 du erstatte farge-verdiene i `assets/background.svg`,
    den har sin egen interne CSS.

    Bodil
  */

  --bakgrunnsfarge: var(--fair-pink);
  --bakgrunnsfarge-alt: var(--white);
  --hoved-farge: var(--mulberry);
  --hoved-farge-alt: var(--mulberry-dark);
  --tittel-farge: var(--deep-blush);
  --tittel-farge-alt: var(--amethyst);
  --tekst-farge: var(--mine-shaft);
  --tekst-farge-alt: var(--white);

  /*
    Typografi her. Laget noen varianter med skriftgrader. 
  */

  --font-family: "Open Sans", sans-serif;

  --font-size-xxl: 50px;
  --font-size-xl: 39px;
  --font-size-large: 21px;
  --font-size-base: 16px;
  --font-size-small: 14px;

  /* Her er komponentene */

  /* todo: Jeg synes ikke denne button-fargen ble s친 fin. Kan du se om du finner en bedre?
  Ta en titt i colors.css og se om du finner en du vil bruke istedenfor. */

  --button-padding: 10px 20px;

  --button-primary-background: #007079;
  --button-primary-background-hover: purple;
  --button-primary-text: #ffffff;

  --border-radius: 4px;
}
