@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300...800&display=swap");

:root {
  /* 
  
  Farge-palett med farge navn, husk at vi ikke bruker disse fargene direkte i CSS-en vår, da blir det vanskelig å lage egne tema som f.eks. dark mode
  
  Bodil
  
  */

  --mulberry: #b74268;
  --mulberry-dark: #702940;
  --fair-pink: #fff0ee;
  --deep-blush: #e05cad;
  --amethyst: #b564cc;
  --white: #ffffff;
  --mine-shaft: #333333;

  /* 
    Kan være noen som synes det ble litt mye rosa 🤔 
    Jeg laget denne alternative farge-paletten som vi også kan teste ut.

    Bodil
   */

  --cello: #224960;
  --cello-dark: #152d3c;
  --ottoman: #ecf9ec;
  --venice: #045e8d;
  --pirate-gold: #a87000;

  /* 
    Her er variable-navnene som er brukt i css-en, 
    prøv å bytte ut verdiene med den alternative fargepaletten og se om det ser bedre ut.

    Bytt ut alle referansene under med følgende:

    mulberry med cello
    mulberry-dark med cello-dark
    fair-pink med ottoman
    deep-blush med venice
    amethyst med pirate-gold

    Når det gjelder bakgrunns-bildet, så må du erstatte farge-verdiene i `assets/background.svg`,
    den har sin egen interne CSS.

    Bodil
  */

  --bakgrunnsfarge: var(--ottoman);
  --bakgrunnsfarge-alt: var(--white);
  --hoved-farge: var(--cello);
  --hoved-farge-alt: var(--cello-dark);
  --tittel-farge: var(--venice);
  --tittel-farge-alt: var(--pirate-gold);
  --tekst-farge: var(--mine-shaft);
  --tekst-farge-alt: var(--white);

  /*
    Typografi her. Laget noen varianter med skriftgrader. 
  */

  --font-family: "Open Sans", sans-serif;

  --font-size-xxl: 50px;
  --font-size-xl: 39px;
  --font-size-large: 21px;
  --font-size-base: 16px;
  --font-size-small: 14px;

  /* Her er komponentene */

  /* todo: Jeg synes ikke denne button-fargen ble så fin. Kan du se om du finner en bedre?
  Ta en titt i colors.css og se om du finner en du vil bruke istedenfor. */

  --button-padding: 10px 20px;

  --button-primary-background: #007079;
  --button-primary-background-hover: purple;
  --button-primary-text: #ffffff;

  --border-radius: 4px;
}
